$colortext1 : black;

html {
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    width: 80%;
    margin: auto;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    background : {
        image: url("../img/bg.jpg");
        repeat: no-repeat;
        size: cover;
        position: top left;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container1 {
    width: 50%;
    margin-right: 20px;
}

.moneycount {
    color: $colortext1;
}

#saveParty, #LoadParty {
    width: 100px;
    height: 30px;
    font-family: 'Josefin Sans', sans-serif;
    a {
        text-decoration: none;
        color: black;
    }
}

h1 {
    font-family: 'Limelight', cursive;
    color: $colortext1;
    font-size: 46px;
    margin-bottom: 0;
}

.options {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons {
    width: 30%;
    margin: {
        right: 10px;
        left: 10px;
    }
    color: $colortext1;
}

.buttons2 {
    width: 100%;
    margin: {
        top: 20px;
    }
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 22px;
    button {
        width: 300px;
        height: 150px;
        a {
            text-decoration: none;
            color: black;
        }
        background-color: rgba(0, 0, 0, 0);
        border-color:rgba(0, 0, 0, 0);
    }
}

#explaination {
    display: none;
}

#button7 {
    &:hover #explaination{
        display: block;
    }
}

#text {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

#Billet {
    width: 350px;
    height: auto;
    border: {
        color: rgba(255,255,255,0.5);
        style: solid;
        width: 10px;
    }
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8 {
    visibility : hidden;
}

.price {
    font-weight: bold;
}

#button8 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#object {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 70px;
    align-items: center;
}

#buyCasaPapel {
    margin: {
        left: 10px;
        right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container1 {
        width: 100%;
    }

    .options {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .buttons {
        width: 40%;
        color: $colortext1;
    }

    #Billet {
        width: 280px;
        height: auto;
        border: {
            color: rgba(255,255,255,0.5);
            style: solid;
            width: 10px;
        }
    }

    #explaination {
        display: none;
    }
    
    #button7 {
        &:hover #explaination{
            display: block;
        }
    }
    #object {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }
}