html {
  min-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container1 {
  width: 50%;
  margin-right: 20px;
}

.moneycount {
  color: black;
}

#saveParty, #LoadParty {
  width: 100px;
  height: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

#saveParty a, #LoadParty a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Limelight', cursive;
  color: black;
  font-size: 46px;
  margin-bottom: 0;
}

.options {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons {
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.buttons2 {
  width: 100%;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.buttons2 button {
  width: 300px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.buttons2 button a {
  text-decoration: none;
  color: black;
}

#explaination {
  display: none;
}

#button7:hover #explaination {
  display: block;
}

#text {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

#Billet {
  width: 350px;
  height: auto;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 10px;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8 {
  visibility: hidden;
}

.price {
  font-weight: bold;
}

#button8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buyCasaPapel {
  margin-left: 10px;
  margin-right: 10px;
}

.image1 {
  height: 130px;
  width: 300px;
}

.image2 {
  height: 100px;
  width: 100px;
}

.image3 {
  height: 100px;
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container1 {
    width: 100%;
  }
  .options {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .buttons {
    width: 40%;
    color: black;
  }
  #Billet {
    width: 280px;
    height: auto;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 10px;
  }
  #explaination {
    display: none;
  }
  #button7:hover #explaination {
    display: block;
  }
  #object {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */